* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #585858;
}

ul,
li {
    padding: 0;
    list-style: none;
    height: 100%;
}

/*------

LAYOUT

-------*/

.fwi-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    z-index: 100;
    padding: 0 24px;
}

section {
    max-width: 1160px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    padding: 48px 0 0 0px;
}

/*------

TYPOGRAPHY 

-------*/

h1,
h2 {
    color: #2d2d2d;
    font-size: 48px;
    font-weight: 300;
    line-height: 58px;
    padding-bottom: 16px;
    padding-top: 40px;
}

span.typed {
    font-weight: 300;
}

p {
    font-size: 18px;
    color: #585858;
    line-height: 32px;
    padding-bottom: 16px;
}

.h3-border {
    position: relative;
    display: inline-block;
    font-weight: 500;
}

.h3-border::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -12px;
    height: 2px;
    width: 16px;
    background: #d02531;
}

a {
    color: #d02531;
    text-decoration: none;
}

/*------

IMAGE 

-------*/

img {
    border: none;
    max-width: 100%;
}

/*------

BUTTONS 

-------*/

a.btn-primary {
    height: 100%;
    background-color: #D02531;
    padding: 28px 40px;
    height: 84px;
    font-size: 16px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    border: none;
    padding-bottom: 4px;
}

/*------

NAVIGATION 

-------*/

nav {
    background-color: white;
    width: 100%;
    height: 84px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 100;
}

.fwi-logo {
    border: none;
    position: fixed;
    top: 0;
    height: 107.8px;
}

/*------

SECTIONS - 1 COLUMN

-------*/

.one-col {
    text-align: center;
}

.one-col h1 {
    padding: 220px 0 24px 0;
}

img.img-hero {
    padding-top: 170px; 
    margin: auto;
    max-width: 80%;
    
}

/*------

SECTIONS - 2 COLUMN

-------*/

section.fwi-benefit h3 {
    color: #8a8a8a;
    text-align: left;
    text-transform: uppercase;
}

.fwi-benefit.two-col {
    flex-direction: row;
    align-items: center;
}

img.img-benefit {
   position: inherit;
    height: auto;
   width: auto;
    margin: auto;
}

article {
    padding: 0 80px 0 0;
}

/*------

SECTIONS - 2 COLUMN - REVERSED

-------*/

article.reverse {
    padding: 0 0 0 48px;
}

/*------

SECTIONS - 3 COLUMN

-------*/

.three-col {
    background: #d02531;
    max-width: 100%;
    padding: 40px 0;
}

ul.fwi-benefit {
    max-width: 1160px;
    display: inline-flex;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

h2#h2-subscription {
    padding-top: 12px;
}

.fwi-benefit li {
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    width: 33%;
}

li.know-how-list {
    width: 100%;
}

.callout-inverted>h2,
.callout-inverted>h3 {
    color: white;
    font-weight: 300;
    padding: 0px;
    text-align: center;
}

/*------

SECTIONS - 2 COLUMN WITH HERO

-------*/

.know-how-bg {
    background-color: #0A699F;
    max-width: 100%;
    margin: 48px 0;
}

ul.know-how {
    margin-top: 32px;
}

li.know-how {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

li.know-how-list {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
}

#text-inverted {
    color: white;
}

h3#text-inverted::after {
    background: white;
}

span {
    font-weight: 400;
}

p#text-inverted {
    font-size: 16px;
    line-height: 28px;
    padding: 0 0 48px 80px;
}

span:first-child {
    font-weight: 500;
}

span.typed {
    color: #d02531;
    font-weight: 400;
}

.typed::after {
	content: '|';
	display: inline;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    color: #2d2d2d;
    font-weight: 300;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.typed-cursor{
    opacity: 0;
     display: none;
 }

h2 :first-child {
    font-weight: 400;
}

img.know-how-circle {
    display: inline-flex;
    position: absolute;
    width: 100px;
    margin-top: 32px;
    margin-left: -44px;
}

li.know-how-list:nth-child(2) {
    padding-left: 16px;
}

/*------

SECTIONS - 3 COLUMN CALLOUTS

-------*/

h2.centered,
h3.h3-border.centered {
    text-align: center;
    padding-top: 48px;
}

.callout>.h3-border::after {
    left: 50%;
}

.callout>h4 {
    color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    padding-bottom: 8px;
}

.callout>p {
    color: #585858;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.callout>i {
    text-align: center;
    font-size: 48px;
    padding: 0 0 24px 0;
    color: #d02531;
}

li.callout {
    width: 100%;
    margin: 48px 48px 60px 48px;
}

section.callout {
    max-width: 100%;
    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}

/*------

SECTIONS - 1 COLUMN WITH FARMER BACKGROUND

-------*/

section.fwi-benefit.two-col.subscription-bg {
    max-width: 100%;
    background-image: url("assets/img-farmer.png");
    margin: 48px 0;
}

article.subscription {
    text-align: center;
    max-width: 1160px;
    margin: auto;
    padding: 0;
}

article.subscription>p{
    display:block;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 24px;
}

.btn-secondary {
    height: 48px;
    width: 226px;
    border: 1px solid #D2222A;
    border-radius: 40px;
    background-color: #FFFFFF;
    padding: 8px 32px;
    color: #D2222A;
    display: block;
    margin: auto;
    line-height: 28px;
    margin-bottom: 32px;
}


/*------

SECTIONS - 1 COLUMN WITH FARMERS WEEKLY BACKGROUND

-------*/


.fwi-history-bg  {
    max-width: 100%;
    background-image: url("assets/img-night.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 48px 0;
    margin-bottom: 0;
}




article.fwi-history {
    width: 1160px;
    margin: auto;
    flex-direction: row;
    text-align: center;
    padding-right:0;
}


.fwi-bio-bg  {
    background-color: #0A699F;
    max-width: 100%;
    background: linear-gradient(161deg, #496396 0%,#496396 50%,#3a5487 50%,#3a5487 100%);
}


article.fwi-bio {
    width: 1160px;
    margin: auto;
    flex-direction: row;
    text-align: center;
    padding-right:0;
}

bio.li.know-how.bio>p {
    color:white;
}

section.fwi-benefit>.fwi-bio.h2 {
    color: white;
}

.fwi-history>h2 {
    color: white;
}

.fwi-history>p {
    margin: 0 20%;
    color: white;
    margin-top: 32px;
    margin-bottom: 24px;
    line-height: 32px;
}

.fwi-bio-bg>h2 {
    color: white;
}

.know-how.bio>p {
    color: white;

}

p.editor {
    font-size: 14px;
}

.fwi-history>.w3-content {
    margin: 24px 0 60px 0;
}

.h2-border {
    position: relative;
    display: inline-block;
}

.h2-border::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 4px;
    height: 2px;
    width: 16px;
    background: white;
}




/*------

IMAGE CAROUSEL

-------*/

.carousel {
    background: transparent;
  }
  
  .carousel-cell {
    width: 70%;
    height: 200px;
    /* flex-box, center image in cell */
    display: -webkit-box;
    display: -webkit-flex;
    display:         flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
            justify-content: center;
    -webkit-align-items: center;
            align-items: center;
  }
  
  .carousel-cell img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    /* dim unselected */
    opacity: 0.7;
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
    -webkit-filter: blur(5px);
            filter: blur(5px);
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
            transition: opacity 0.3s, transform 0.3s, filter 0.3s;
  }
  
  /* brighten selected image */
  .carousel-cell.is-selected img {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-filter: none;
            filter: none;
  }
  
  @media screen and ( min-width: 768px ) {
    .carousel-cell {
      height: 400px;
    }
  }
  
  @media screen and ( min-width: 960px ) {
    .carousel-cell {
      width: 60%;
    }
  }
  
  /* buttons, no circle */
  .flickity-prev-next-button {
    width: 60px;
    height: 60px;
    background: transparent;
    opacity: 0.6;
  }
  .flickity-prev-next-button:hover {
    background: transparent;
    opacity: 1;
  }
  /* arrow color */
  .flickity-prev-next-button .arrow {
    fill: white;
  }
  .flickity-prev-next-button.no-svg {
    color: white;
  }
  /* closer to edge */
  .flickity-prev-next-button.previous { left: 0; }
  .flickity-prev-next-button.next { right: 0; }
  /* hide disabled button */
  .flickity-prev-next-button:disabled {
    display: none;
  }


img.benefit, img.img-benefit {
    max-width: 580px;
}

img.img-benefit.img-knowhow-detailed {
    max-width: 460px;
}



/*------

RESPONSIVE - MOBILE (320PX - 768px)

-------*/

@media only screen and (max-width: 768px) {



    img.img-hero {   
        max-width: 100%;
        padding-top: 80px;
    }
    
    
    nav {
       height: 48px;
    }
    
    .fwi-nav
    {
        height: 48px;
        padding: 0 12px;
    }
    
    .fwi-logo {
        width: 140px;
        height: auto;
    }
    
    ul.fwi-benefit.statistics {
        flex-direction: column;
    }

    
    a.btn-primary {
        height: 100%;
        padding: 12px 20px;
        font-size: 14px;
    }
    
    .one-col h1 {
        padding: 120px 0 24px 0;
        font-size: 32px;
        line-height: 48px;
    }
    
    .one-col p {
        line-height: 24px;
        padding-bottom: 0px;
    }
    
    ul.fwi-benefit {
        flex-direction: column-reverse;
    }
    
    .fwi-benefit li {
        width: 100%;
        margin-bottom: 32px;
        padding-bottom: 0;
    }
    
    h2 {
        font-size: 28px;
        line-height: 40px;
        font-weight: 400;
    }
    
    section.fwi-benefit h3 {
        font-size: 18px;
    }
    
    .fwi-benefit>li:last-child{
        margin-bottom: 0;
    }
    
    .fwi-benefit.one-col {
        padding-bottom: 0;
    }
    
    article, article.reverse {
        padding: 0;
    }
    
    section {
        padding: 32px 12px;
    }
    
    .fwi-benefit.two-col {
        flex-direction: column;
    }
    
    p {
        line-height: 28px;
        font-size: 16px;
    }
    
    img.img-benefit,
    img.img-benefit.img-knowhow-detailed {
        padding: 40px 0 0 0;
        max-width: 100%;
    }
    
    p#text-inverted {
        padding: 6px 0 8px 70px;
    }
    
    .know-how-bg {
        margin: 48px 0 0 0;
    }
    
    li.callout {
        margin: 0;
    }
    
    
    h2.centered {
        padding-top: 12px;
    }
    
    article.fwi-history {
        width: auto;
    }
    
    .fwi-history>p {
        margin: 3em 1.5em;
    }

    section.fwi-benefit.two-col.reverse {
        flex-direction: column-reverse;
    }
    
    section.fwi-benefit.continue
    {
        background: black;
    }

    a#continue {
        color: white;
        text-align: center;
        font-size: 24px;
    }
    
    }